body{
	background-color: #F0FFF0;
	color: #004000;
	font-size: large;

	background-image: url("img/fon.jpg");	
	background-position: center;
	background-repeat: repeat;
	background-attachment: fixed;
}

a {
	color: #00C000;
}
/* .deb {border: thin dashed red;}  */
.deb {border: thin solid green;}
#wind {
	max-width: 1040px;
	background-color: #FDF4EF;
/* 	position:relative; */
/* 	padding-bottom:10px; */
}

/* background-color: #808080; */
#head1 { text-align: center; color: #FF00FF;
	background-image: url("img/fon-zg.jpg");	
	background-position: center;
	background-repeat: repeat-x;
	background-position: center top;
	background-color: #FFFFFF;}

#menu1 {background-color: #D0FFD0; padding: 5px 10px; 
	width: 320px;}
#main  {width: calc(100% - 390px); padding: 10px 20px;
		background: rgba(240, 255, 240, 0.9);  }

h3, h4 {text-align: center; padding: 10px;}

.radius img {border-radius:15px;} 
.radius {text-align: center;}

/* .wp-block-image img {border-radius:15px;} */

.cntr {
	margin-left: auto;
	margin-right: auto;
}
.rt {
/*	font-weight: bold; */
	float: right;
	text-align: center;
}
.lt {
	float: left;
}

#bott {
	position:absolute;
	bottom: 10px; }


/* ----------------------------- */





